body{
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: teal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;

}

.timezone{
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
}

.clock{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: white;
    margin-left: 50px;
    border-radius: 50%;
    border: 10px solid black;

}

.clock::after{
    position: absolute;
    content: '';
    height: 20px; 
    width: 20px;
    border-radius: 50px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}