body{
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: teal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;

}

.timezone{
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
}